<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FilmStore.UnitTests.Properties.Settings.connectionString"
            connectionString="Data Source=msi\sqlexpress;Initial Catalog=FilmStore;Integrated Security=True" />
    </connectionStrings>
</configuration>